<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul> 회원들....
        <% data.forEach(function(user){ %>
            <li><%=user.name%>(<%=user.age%>세,<%=user.gender ? "남자":"여자"%>)</li>
        <% }); %>    
    </ul>
    <% if(error_msg) { %>
        <div style='color:red;'><%=error_msg%></div>
    <% } %>    
    </body>

</html>